.btn{
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #f049e7;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    opacity: 0.8;
}

.btn:hover {
    opacity: 1;
}

.btn a{
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}
