/* @tailwind base;
@tailwind components;
@tailwind utilities; */ 

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to right,
      rgb(255, 112, 112),
      rgb(226, 226, 86)
    )
    rgb(var(--background-start-rgb));
    /* background-image: url("https://t3.ftcdn.net/jpg/00/86/56/12/360_F_86561234_8HJdzg2iBlPap18K38mbyetKfdw1oNrm.jpg"); */
    background-image: url("https://img.freepik.com/premium-photo/light-blue-background-with-light-blue-background-with-light-blue-background_693425-772.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  /* background: linear-gradient(); */
  height: 100vh;
}


